.container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-decoration {
  position: relative;
}

.container-decoration::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 300px;
  height: 20px;

  background: url('../../img/container-decoration.svg') center / contain
    no-repeat;
}

.section {
  padding: 64px 0;
}

.button-main {
  font-weight: 500;
  font-size: 16px;
  border-radius: var(--border-radius-small);
  padding: 10px 24px;
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
}

.button-main:is(:hover, :focus-visible) {
  background-color: transparent;
  border: 1px solid var(--color-accent);
}

.button-main:active {
  border: 1px solid var(--color-accent);
  box-shadow: var(--shadow-active);
  background-color: var(--color-accent-light);
}

.button-main:disabled {
  opacity: var(--opacity-btn-disabled);
}

button.is-loading {
  color: transparent;
  pointer-events: none;
}

button.is-loading::after {
  content: '';

  position: absolute;
  top: 50%;
  left: 50%;

  width: 23px;
  height: 23px;

  border: 2px solid var(--color-white);
  border-top-color: var(--color-black);
  border-radius: 50%;

  transform: translate(-50%, -50%);
  animation: loading 0.7s linear infinite;
}

body.is-loading {
  overflow-y: hidden;
}

body.is-loading::before {
  content: '';

  position: fixed;
  inset: 0;
  z-index: 9999;

  background-color: rgb(0 0 0 / 50%);
}

body.is-loading::after {
  content: '';

  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10000;

  width: 36px;
  height: 36px;

  border: 3px solid var(--color-accent-light);
  border-top-color: var(--color-black);
  border-radius: 50%;

  transform: translate(-50%, -50%);
  animation: loading 0.7s linear infinite;
}

@keyframes loading {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  body.is-loading::after {
    width: 50px;
    height: 50px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }

  .section {
    padding: 92px 0;
  }

  body.is-loading::after {
    width: 70px;
    height: 70px;
  }
}
