*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

*:where(ul, ol):where([class]) {
  margin: 0;
  padding: 0;
  list-style: none;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font: inherit;
}

fieldset {
  border: none;
}

input,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
  background-color: transparent;
}

table {
  border-collapse: collapse;
}
