<section class="about section" id="about">
    <div class="container container-decoration about-container">
        <div class="about-content">
            <h2 class="about-title">
                Meet Maria Kovalenko: Your Partner in Capturing Unforgettable Wedding
                Moments
            </h2>
            <p class="about-text">
                With years of experience in wedding photography, Maria specializes in
                capturing genuine emotions and beautiful moments. Her unique approach
                blends artistry with a personal touch, ensuring that each couple's story
                is told through stunning imagery.
            </p>
        </div>

        <picture>
            <img src="/img/abouth.jpg" srcset="/img/abouth.jpg 1x, /img/abouth@2x.jpg 2x"
                alt="Bride and groom holding hands" class="about-image" />
        </picture>


    </div>
</section>