<section class="section" id="benefits">
  <div class="container container-benefits container-decoration">
    <h2 class="title-benefits">
      Capture Every Moment with Our Tailored Wedding Photography Packages
    </h2>

    <ul class="benefits-list">
      <li class="benefits-item">
        <svg class="icon" width="100" height="100">
          <use href="./img/sprite.svg#icon-benefits-1"></use>
        </svg>

        <h3>Your Perfect Story: A Package Tailored for You.</h3>

        <p>
          Explore our collection of wedding packages, each designed to perfectly
          capture the uniqueness of your special day.
        </p>
      </li>

      <li class="benefits-item">
        <svg class="icon" width="100" height="100">
          <use href="./img/sprite.svg#icon-benefits-2"></use>
        </svg>

        <h3>From Dawn to Stars: Your Full Day in Frame.</h3>

        <p>
          Capture every emotion, from the morning preparations to the grand
          finale of your wedding celebration.
        </p>
      </li>

      <li class="benefits-item">
        <svg class="icon" width="100" height="100">
          <use href="./img/sprite.svg#icon-benefits-3"></use>
        </svg>

        <h3>Precious Moments: Capturing Your Key Events.</h3>

        <p>
          Perfect for preserving the most important moments of your intimate
          ceremony or smaller celebration.
        </p>
      </li>
    </ul>
  </div>
</section>
