<section class="feedbacks" id="feedbacks">
  <div class="container container-decoration feedback-container">
    <h2 class="feedbacks-title">Words from Our Wonderful Couples</h2>

    <p class="feedbacks-description">
      Read what the couples who entrusted us with their most precious memories
      have to say.
    </p>

    <div class="swiper feedbacks-slider">
      <ul class="swiper-wrapper feedback-list" id="feedback-wrapper">
        <li class="feedbacks-card swiper-slide"></li>
      </ul>
    </div>

    <div class="feedbacks-bottom-controls">
      <div class="swiper-pagination"></div>

      <div class="feedback-navigation">
        <button type="button" class="btn-prev">
          <svg class="pagination-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow_back"></use>
          </svg>
        </button>
        <button type="button" class="btn-next">
          <svg class="pagination-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow_forward"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
