<section class="feedbacks" id="feedbacks">
  <div class="container">
    <div class="feedbacks-decor"></div>

    <h2 class="feedbacks-title">Words from Our Wonderful Couples</h2>

    <p class="feedbacks-description">
      Read what the couples who entrusted<br class="mob-break" />
      us with their most precious memories<br class="mob-break" />
      have to say.
    </p>

    <div class="swiper feedbacks-slider">
      <ul class="swiper-wrapper feedback-list" id="feedback-wrapper">
        <li class="feedbacks-card swiper-slide"></li>
      </ul>
    </div>

    <div class="feedbacks-bottom-controls">
      <div class="swiper-pagination"></div>

      <div class="feedback-navigation">
        <button type="button" class="btn-prev"></button>
        <button type="button" class="btn-next">Я</button>
      </div>
    </div>
  </div>
</section>
