.about {
  text-align: center;
}

.container.about-container {
  padding-top: 44px;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 40px;
}

.about-title {
  font-size: 28px;
}

.about-image {
  display: block;
  width: 100%;
  height: 273px;

  object-fit: cover;
  object-position: center;
  border-radius: var(--border-radius-large);
}

@media only screen and (min-width: 768px) {
  .about-image {
    height: 318px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-title {
    max-width: 779px;
    font-size: 40px;
  }

  .about-text {
    max-width: 779px;
  }

  .about-image {
    height: 593px;
  }
}
