.container.feedback-container {
  padding-top: 44px;
}

.feedbacks-title {
  text-align: center;
  margin-bottom: 24px;
}

.feedbacks-description {
  text-align: center;
  margin-bottom: 40px;
  margin-inline: auto;
}

.feedbacks-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: var(--color-card);

  border: var(--border-main);
  border-radius: var(--border-radius-medium);
  padding: 32px;

  min-height: 328px;
}

.feedbacks-bottom-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}

.swiper-pagination {
  display: flex;
  gap: 8px;
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: #ccc;
  opacity: 1;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-black);
}

.feedback-navigation {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.btn-prev,
.btn-next {
  border-radius: 4px;

  padding: 12px;
  border: var(--border-main);

  transition: opacity var(--transition-base);
}
.pagination-icon {
  stroke: var(--color-black);
}
.swiper-button-disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}

@media (min-width: 768px) {
  .feedbacks-decor {
    margin-left: auto;
    margin-right: auto;
  }

  .feedbacks-description {
    max-width: 550px;
  }

  .feedback-list {
    display: flex;
    gap: 24px;
  }

  .feedbacks-card {
    padding: 20px;
    flex-basis: calc((100% - 48px) / 3);
    min-height: 412px;
  }
}

@media (min-width: 1440px) {
  .feedbacks-description {
    max-width: 100%;
  }

  .feedbacks-card {
    padding: 32px;
    min-height: 274px;
  }
}
