.container.feedback-container {
  padding-top: 44px;
}

.feedbacks-title {
  text-align: center;
  margin-bottom: 24px;
}

.feedbacks-description {
  text-align: center;
  margin-bottom: 40px;
  margin-inline: auto;
}

.feedbacks-card.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  background-color: var(--color-card);
  border: var(--border-main);
  border-radius: var(--border-radius-medium);
  padding: 32px;
  min-height: 328px;
}

.feedback-author {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.feedbacks-bottom-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}

.swiper-pagination {
  --swiper-pagination-color: var(--color-black);
  position: static !important;
  width: auto !important;
}

.feedback-navigation {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.btn-prev,
.btn-next {
  border-radius: 4px;

  padding: 12px;
  border: var(--border-main);

  transition:
    box-shadow var(--transition-base),
    background-color var(--transition-base),
    opacity var(--transition-base);
}

.btn-prev:not(.swiper-button-disabled):hover,
.btn-prev:not(.swiper-button-disabled):focus-visible,
.btn-next:not(.swiper-button-disabled):hover,
.btn-next:not(.swiper-button-disabled):focus-visible {
  background-color: var(--color-accent-light);
}

.btn-prev:not(.swiper-button-disabled):active,
.btn-next:not(.swiper-button-disabled):active {
  box-shadow: var(--shadow-active);
  background-color: var(--color-card);
}

.pagination-icon {
  stroke: var(--color-black);
}

.swiper-button-disabled {
  opacity: var(--opacity-arrow-disabled);
  cursor: not-allowed;
  pointer-events: none;
}

@media (min-width: 768px) {
  .feedbacks-description {
    max-width: 550px;
  }

  .feedbacks-card.swiper-slide {
    padding: 20px;

    min-height: 412px;
  }
}

@media (min-width: 1440px) {
  .feedbacks-description {
    max-width: 100%;
  }

  .feedbacks-card.swiper-slide {
    padding: 32px;
    min-height: 274px;
  }
}
