.header {
  width: 100%;
}

.header-container {
  width: 100%;
  height: 64px;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header:has(.mobile-menu.mobile-menu.is-open) .logo-header {
  display: none;
}

.header:has(.mobile-menu.mobile-menu.is-open) .menu-button {
  display: none;
}

.logo {
  display: block;
  width: 69px;
  height: 61px;
}

.desktop-nav {
  display: none;
}

.desktop-book-btn {
  display: none;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 24px;
  height: 18px;

  padding: 0;
}

.menu span {
  display: block;

  width: 24px;
  height: 2px;

  background-color: var(--color-black);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 50%;

  width: 100%;
  max-width: 375px;
  height: 100%;

  background-color: var(--color-background);

  z-index: 1000;

  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translateX(50%);

  transition:
    opacity var(--transition-base),
    transform var(--transition-base),
    visibility var(--transition-base);
}

.mobile-menu.is-open {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%);
}

.mobile-menu-header {
  width: 100%;
  height: 64px;

  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close {
  padding: 0;
  border: none;

  background-color: transparent;

  font-size: 24px;
  line-height: 1;

  color: var(--color-black);

  cursor: pointer;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 16px 20px 0;
}

.mobile-nav a {
  padding: 12px 0;
}

.mobile-book-btn,
.desktop-book-btn {
  border: 2px solid var(--color-accent);
  border-radius: 8px;

  background-color: var(--color-accent);
  color: var(--color-black);

  text-align: center;

  transition:
    background-color var(--transition-base),
    border-color var(--transition-base),
    color var(--transition-base);
}

.mobile-book-btn {
  display: block;

  width: 100%;
  max-width: 335px;

  margin-top: 32px;
  margin-inline: auto;
  padding: 16px 24px;

  font-size: 16px;
}

.mobile-book-btn,
.desktop-book-btn {
  font-weight: 500;
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-black);
}

.mobile-book-btn:hover,
.desktop-book-btn:hover {
  background-color: var(--color-white);
  border-color: var(--color-accent);
  color: var(--color-black);
}

.mobile-book-btn:focus-visible,
.desktop-book-btn:focus-visible {
  background-color: var(--color-white);
  border-color: var(--color-accent);
  color: var(--color-black);

  outline: 2px solid var(--color-accent);
  outline-offset: 2px;
}

.mobile-book-btn:active,
.desktop-book-btn:active {
  background-color: var(--color-accent-light);
  border-color: var(--color-accent-light);
  color: var(--color-black);
}

.desktop-nav a {
  padding: 8px 12px;

  font-size: 16px;

  border-radius: 4px;

  transition: background-color var(--transition-base);
}

.desktop-nav a:hover {
  background-color: var(--color-hover-focus-link-icon);
}

.desktop-nav a:focus-visible {
  background-color: var(--color-hover-focus-link-icon);
}

@media screen and (min-width: 768px) {
  .header-container {
    max-width: 768px;
    padding: 0 32px;
    height: 72px;
  }
  .logo {
    width: 78px;
    height: 68px;
  }

  .menu {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .desktop-nav {
    display: flex;
    align-items: center;
    gap: 32px;

    margin-left: auto;
    margin-right: 32px;
  }

  .desktop-nav a {
    padding: 0;
    display: block;
  }

  .desktop-book-btn {
    display: block;
    height: 40px;
    width: 154px;
    padding: 6px 0;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    max-width: 1440px;
    padding: 0 64px;
  }
}
